.main__wrapper {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.links__wrapper, .buttons__wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.count {
    font-size: 24px;
    font-weight: 400;
}